<% content_for :page_title do %>
  Rent a desk
<% end %>
<% content_for :nav do %>
  <%= link_to "Add your desk space", new_space_path, class: "button" %>
<% end %>


<div id="filters">
  <form action="<%= spaces_path(city: @city.slug) %>" method="get">
    <div class="input">
      <label>Price per month</label>
      <div class="slider-holder">
        <div id="slider"></div>
      </div>
      <input type="hidden" name="min_price" value="<%= params[:min_price] %>">
      <input type="hidden" name="max_price" value="<%= params[:max_price] %>">
    </div>
    <div class="input radios">
      <label><input type="radio" name="desk_type" value="" <% if params[:desk_type].blank? %>checked<% end %>>Fixed / Permanent desks</label>
      <label><input type="radio" name="desk_type" value="hotdesk" <% if params[:desk_type] == "hotdesk" %>checked<% end %>>Hot desks</label>
    </div>
    <div class="input boolean if-fixed">
      <label><input type="checkbox" name="has_full_access" value="1" <% if params[:has_full_access] == "1" %>checked<% end %>>Only 24/7 access</label>
    </div>
    
    <input type="submit" value="Filter spaces" class="button">
  </form>  
  
  <%= link_to companies_path, class: "whos-looking" do %>
    Looking for space for 5+ people?
  <% end %>
  
  <%= mail_to "hello@deskspac.es", "Contact us", class: "contact" %>
</div>

<script>
  var city = <%= @city.to_json.html_safe %>;
  var spaces = <%= @spaces.to_json.html_safe %>;
</script>


<div id="map"></div>

