<% content_for :page_title do %>
  Add a desk
<% end %>

<%= simple_form_for @space, url: add_path do |form| %>
  
  <div class="space">
    <%= form.input :name, label: "Name of space", placeholder: "Acme Company" %>
    <%= form.input :address, label: "Address", placeholder: "123 Example Street" %>
    <%= form.input :postcode, label: "Post code", placeholder: "SW1A 1AA" %>
    <%= form.input :price_in_pounds, label: "Price per person per month", placeholder: "£200" %>
    <%= form.input :desk_type, label: "Type of desk space", as: :radio_buttons, collection: { "Fixed / Permanent" => "fixed", "Hot desking" => "hotdesk" } %>
    <%= form.input :has_full_access, label: "Space has 24/7 access" %>
    <%= form.input :description, label: "More details", placeholder: "Pets allowed, meeting rooms available" %>
  </div>
  
  <div class="contact">
    <%= form.input :email, label: "Contact email address", placeholder: "ceo@acmecompany.com", hint: "Will be public" %>
    <%= form.input :phone_number, label: "Contact phone number", placeholder: "07549 555 555", hint: "Will be public" %>
    <%= form.input :twitter, label: "Twitter account", placeholder: "@acmecompany" %>
  </div>
   
  <div class="photos">
    <h3>Photos</h3>
    <%= form.simple_fields_for :photos do |photoform| %>
      <div class="photo">
        <%= photoform.input :photo, label: false %>
        <%= photoform.input :rank, as: :hidden %>
      </div>
    <% end %>
  </div>
  
  <%= form.button :submit, "Add space", class: "button" %>

<% end %>