<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for(:page_title).strip %> - Deskspaces</title>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <article class="application">
  
    <header>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "logo@2x.png", alt: "Deskspac.es" %>
        <% end %>
      </h1>
      <nav>
        <%= content_for :nav %>
      </nav>
    </header>
    
    <section>
      <%= yield %>
    </section>
    
  </article>

</body>
</html>
